@media screen and (max-width: 630px) {
  #bloc-page {
    margin: 0 auto;
    width: 100%;
  }
  .search,
  .accomodation,
  .filter,
  .activites {
    margin: 0 20px;
  }

  .accomodation_info {
    margin-left: 20px;
  }

  /****** Header ******/

  .logo {
    height: 40px;
    padding-top: 28px;
    padding-bottom: 7px;
    font-size: 2.3em;
    padding-left: 20px;
    display: flex;
  }

  .accomodation_activity {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .accomodation_link,
  .activity_link {
    width: 50%;
    margin: 0;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: solid 0.156rem #f2f2f2;
  }

  .accomodation_link:hover,
  .activity_link:hover {
    color: var(--blue);
    border-top: none;
    border-bottom: 0.156rem solid var(--blue);
    padding-top: 0;
    padding-bottom: 10px;
  }

  .suscribe_link {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 40px;
  }

  header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    background-color: var(--white);
    z-index: 10;
  }

  .title {
    margin: 0em 20px 1.5em 20px;
    text-align: left;
    padding-top: 140px;
  }

  .menu {
    padding-right: 0px;
  }

  /*******SEARCH******/

  .button_search_input_submit {
    visibility: hidden;
    display: none;
  }

  .search_form_button {
    visibility: visible;
    color: #fff;
    background-color: var(--blue);
    border: none;
    border-radius: 15px;
    height: 52px;
    width: 52px;
    margin-left: -15px;
    cursor: pointer;
  }

  .search_form_button .fas {
    font-size: 18px;
  }

  /******FILTERS******/

  .filter {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    text-align: left;
  }

  .filter_container {
    padding-left: 0em;
  }

  .filter_title {
    padding-bottom: 1em;
  }

  .accomodation_info {
    align-items: unset;
  }

  .icon_info {
    margin: 0 1em 0 0;
    font-weight: 700;
  }

  .icon_info i .fa-info {
    font-weight: 500;
  }

  .info {
    text-align: left;
    margin-right: 0.5em;
  }

  .fa-info {
    margin: 0 8px;
  }

  /****FOOTER****/

  .footer_body {
    padding: 0em 20px;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  footer ul {
    width: 80%;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  .footer_list_a {
    width: 80%;
    padding: 2em 0;
    line-height: 2em;
    padding-left: 0px;
  }

  .footer_list_b,
  .footer_list_c {
    width: 80%;
    padding-top: 0em;
    line-height: 2em;
    padding-bottom: 2em;
  }
}

@media screen and (max-width: 480px) {
  /******SEARCH******/

  .map_marker {
    padding: 3.2vw 4vw;
    font-size: 3.8vw;
    border-radius: 3vw 0% 0% 3vw;
  }

  .button_search_input {
    padding: 3.1vw 0vw 2.2vw 4vw;
    font-size: 3.9vw;
  }

  .search_form_button {
    height: 10.5vw;
    width: 10vw;
    border-radius: 3vw;
  }

  .search_form_button .fas {
    font-size: 4vw;
  }

  /******ACCOMODATION******/

  .accomodation_aside_bloc {
    flex-direction: column-reverse;
  }

  .accomodation {
    width: 100%;
    margin: 0;
  }

  .accomodation_content {
    width: auto;
    background-color: var(--white);
    padding: 0 20px;
  }

  .accomodation_title h2,
  .aside_title h2,
  .activity_title {
    font-size: 5vw;
    font-weight: 700;
  }

  .accomodation_images {
    flex-direction: column;
    padding-bottom: 3vw;
    margin: 0;
    height: auto;
  }

  .cards_accomodation {
    margin-bottom: 2vw;
    width: 98%;
    height: 50vw;
    padding: 1vw;
    box-shadow: 1px 2px 1vw 1vw #efefef;
  }

  .cards_accomodation_body {
    padding-top: 1vw;
    padding-left: 12px;
  }

  .title_cards_accomodation {
    font-weight: 700;
    font-size: 4vw;
    padding-bottom: 1vw;
  }

  .price_accomodation {
    font-size: 3vw;
    line-height: 4%;
    padding-top: 1.8vw;
  }

  .rating_accomodation {
    padding-top: 4vw;
    font-size: 2.5vw;
    padding-left: 12px;
  }

  .more_1 {
    padding-top: 1.5vw;
    padding-bottom: 3.5vw;
  }

  .more {
    text-decoration: none;
    font-weight: 700;
    font-size: 3.5vw;
    color: var(--black);
  }

  /********ASIDE*******/

  .aside {
    padding-top: 0;
    padding-bottom: 1em;
    width: 100%;
    margin: 0;
  }
  .aside_content {
    padding: 0 20px;
    border-radius: 0;
  }

  .aside_title {
    font-size: 4.5vw;
    font-weight: 800;
  }

  .icon_info_aside {
    font-size: medium;
  }
  .cards_aside_content {
    gap: 3vw;
    width: auto;
    height: auto;
    padding-bottom: 7vw;
  }

  .cards_aside {
    width: 100%;
    height: 30vw;
    background-color: var(--white);
    border-radius: 17px;
    box-shadow: none;
    margin-bottom: 0;
    padding: 1vw;
  }

  .aside_img {
    margin-right: 2vw;
    width: 33vw;
  }

  .cards_aside_body {
    line-height: 100%;
    padding-right: 5vw;
    padding-left: 2vw;
  }

  .title_cards_aside {
    font-size: 4vw;
  }

  .price_aside {
    font-size: 3.5vw;
  }

  .rating_aside {
    font-size: 2.5vw;
    padding-bottom: 3vw;
  }

  /******ACTIVITES*****/

  .activites {
    margin: 0;
    padding: 0 20px;
  }

  .activity_title {
    text-align: left;
    font-size: 5vw;
    font-weight: 700;
    margin-top: 9vw;
    margin-bottom: 0vw;
  }
  .activity_title {
    padding-bottom: 8vw;
  }

  .cards_activity_content {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 6vw;
    width: 100%;
    padding-bottom: 6vw;
  }

  .activity_img_port,
  .activity_img_fort,
  .activity_img_frioul,
  .activity_img_calanques,
  .activity_img_garde,
  .activity_img_longchamp {
    width: 100%;
    height: 45vw;
  }

  .activity_body {
    font-size: 3.5vw;
    font-weight: 700;
    padding: 3vw 20px;
  }
}
