@media screen and (max-width: 800px) and (min-width: 480px) {
  #bloc-page {
    margin: 0 20px;
  }

  .accomodation_aside_bloc {
    flex-direction: column-reverse;
    gap: 3vw;
    width: 100%;
  }

  .accomodation_content {
    width: auto;
  }

  .aside {
    width: 100%;
  }
  .aside_content {
    width: auto;
  }

  .accomodation_title,
  .aside_title {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .accomodation_title h2,
  .aside_title h2,
  .activity_title {
    font-size: 2vw;
  }

  .cards_aside {
    width: 33%;
    height: 20vw;
  }

  .cards_aside_content {
    height: 100%;
    flex-direction: row;
  }

  .aside_img {
    height: 19.4vw;
  }

  .cards_aside_body {
    padding: 0;
  }

  .title_cards_aside {
    font-size: 1.6vw;
  }

  .price_aside {
    font-size: 1.4vw;
    padding-top: 1vw;
  }

  .rating_aside {
    font-size: 1.2vw;
  }

  .accomodation_images {
    display: flex;
    width: 100%;
    height: 100%;
    grid-gap: 3vw;
    padding-bottom: 2vw;
  }

  .accomodation_img {
    padding: 0.3vw 0.3vw 0vw 0.3vw;
    width: 98%;
    height: 60%;
  }

  .cards_accomodation {
    height: 24vw;
  }

  .title_cards_accomodation {
    font-weight: 800;
    padding-top: 1vw;
    font-size: 1.8vw;
  }

  .price_accomodation {
    font-weight: 500;
    font-size: 1.6vw;
  }

  .rating_accomodation {
    display: flex;
    padding-left: 0.6vw;
    font-size: 1.3vw;
  }

  .more {
    font-weight: 700;
    font-size: 2vw;
  }

  .more_1 {
    padding-top: 1vw;
    padding-bottom: 3.5vw;
  }

  /***Activites***/

  .cards_activity_content {
    height: 38vw;
    width: 100%;
    margin: auto;
    margin-bottom: 2em;
  }

  .activity_body {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 1.3vw;
    padding: 1vw 0vw 1vw 1.5vw;
    text-align: left;
  }

  .footer_list_a {
    padding-left: 20px;
    width: 40%;
  }
}
